@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply bg-gradient-to-br;
    @apply from-primary;
    @apply to-primary;
    @apply bg-clip-text;
    @apply text-4xl/[3rem];
    @apply font-extrabold;
    @apply text-transparent;
    @apply sm:text-5xl/[4rem];
    @apply text-center;
  }

  h2 {
    @apply font-bold;
    @apply text-left;
    @apply text-primary;
    @apply sm:text-3xl/[4rem];
  }

  h3 {
    @apply text-secondary;
    @apply font-semibold;
    @apply text-left;
    @apply sm:text-2xl/[3rem];
  }

  h4 {
    @apply text-accent;
    @apply font-semibold;
    @apply text-left;
    @apply sm:text-2xl/[3rem];
  }

  h5 {
    @apply text-base-content;
    @apply font-semibold;
    @apply text-left;
    @apply sm:text-xl/[3rem];
  }

  p {
    @apply text-base-content;
    @apply text-left;
    @apply sm:text-xl/relaxed;

    // apply a bottom margin if the next element is a heading
    &+h2 {
      @apply mt-6;
    }

    &+h3 {
      @apply mt-3;
    }

    &+h4,
    &+h5 {
      @apply mt-2;
    }
  }

  ul {
    @apply list-disc;
    @apply text-base-content;
    @apply sm:text-xl/relaxed;
    @apply ml-12;

    // apply a bottom margin if the next element is a heading
    &+h2 {
      @apply mt-6;
    }

    &+h3 {
      @apply mt-3;
    }

    &+h4,
    &+h5 {
      @apply mt-2;
    }
  }

  ol {
    @apply list-decimal;
    @apply text-base-content;
    @apply sm:text-xl/relaxed;
    @apply ml-12;

    // apply a bottom margin if the next element is a heading
    &+h2 {
      @apply mt-6;
    }

    &+h3 {
      @apply mt-3;
    }

    &+h4,
    &+h5 {
      @apply mt-2;
    }
  }

  // table formatting
  table {
    @apply w-full;
    @apply whitespace-nowrap;
    @apply divide-y divide-base-content;
    @apply my-4;
    @apply table-fixed;
  }

  th {
    @apply px-6 py-3 text-left text-xs font-medium uppercase tracking-wider;
    @apply overflow-auto;
  }

  td {
    @apply px-6 py-4 whitespace-nowrap;
    @apply overflow-auto;
  }

  tr {
    @apply bg-base-100;
  }

  tbody tr:nth-child(odd) {
    @apply bg-base-200;
  }

}

::selection {
  background-color: theme('colors.primary');
  color: theme('colors.base-100');
}

:root {
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bold-pseudo::before {
  display: block;
  content: attr(data-label);
  content: attr(data-label) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 600;
}