@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-page-structure {
    @apply mx-auto;
    @apply max-w-screen-xl;
    @apply px-4;
    @apply py-16;
    @apply lg:flex;
    @apply flex;
    @apply flex-1;
    @apply flex-col;
    @apply items-center;
    @apply w-11/12;
    @apply pt-2;
  }
  .text-page-structure > h1 {
    @apply bg-gradient-to-br;
    @apply from-primary;
    @apply to-primary;
    @apply bg-clip-text;
    @apply text-4xl/[3rem];
    @apply font-extrabold;
    @apply text-transparent;
    @apply sm:text-5xl/[4rem];
    @apply text-center;
  }

  .subtitle-structure {
    @apply w-full;
    @apply md:w-5/6;
    @apply space-y-24; 
    @apply pb-8;
  }

  .subtitle-structure p {
    @apply text-center; 
    @apply mx-auto; 
    @apply mt-4; 
    @apply text-xl/relaxed;
  }

  .general-classes{
    @apply text-left;
    @apply pt-4;
    @apply pb-32;
    @apply md:py-16;
  }

  .name-classes{
    @apply bg-clip-text;
    @apply font-bold;
    @apply text-3xl/[3rem];
  }

  .description-classes{
    @apply mt-4;
    @apply pb-4;
    @apply text-xl/relaxed;
  }

  .upcoming-collapse{
    @apply w-full;
    @apply my-2;
  }

  .collapse-content{
    @apply flex; 
    @apply flex-row; 
    @apply flex-wrap; 
    @apply justify-center;
    @apply p-0;
    @apply w-full;
  }
  
  .upcoming-collapse > .collapse-child{
    @apply bg-base-100;
    @apply rounded-md;
    @apply shadow-md;
    @apply hover:shadow-lg;
    @apply transition-shadow;
    @apply border-2;
    @apply border-base-content;
    @apply hover:border-info;
  }

  .event-card{
    /* @apply m-3;
    @apply min-w-min;
    @apply relative;
    @apply w-1/3;
    @apply flex; 
    @apply flex-col; 
    @apply shadow-md; 
    @apply rounded-3xl; 
    @apply overflow-hidden; 
    @apply bg-base-200;
    @apply rounded-md;
    @apply shadow-md;
    @apply transition-shadow;
    @apply border-2;
    @apply border-base-content; */
  }


  
  h1 {
    @apply bg-gradient-to-br;
    @apply from-primary;
    @apply to-primary;
    @apply bg-clip-text;
    @apply text-4xl/[3rem];
    @apply font-extrabold;
    @apply text-transparent;
    @apply sm:text-5xl/[4rem];
    @apply text-center;
  }

  h2 {
    @apply font-bold;
    @apply text-left;
    @apply text-primary;
    @apply sm:text-3xl/[4rem];
  }

  h3 {
    @apply text-secondary;
    @apply font-semibold;
    @apply text-left;
    @apply sm:text-2xl/[3rem];
  }

  h4 {
    @apply text-accent;
    @apply font-semibold;
    @apply text-left;
    @apply sm:text-2xl/[3rem];
  }

  h5 {
    @apply text-base-content;
    @apply font-semibold;
    @apply text-left;
    @apply sm:text-xl/[3rem];
  }

  p {
    @apply text-base-content;
    @apply text-left;
    @apply sm:text-xl/relaxed;

    // apply a bottom margin if the next element is a heading
    &+h2 {
      @apply mt-6;
    }

    &+h3 {
      @apply mt-3;
    }

    &+h4,
    &+h5 {
      @apply mt-2;
    }
  }

  ul {
    @apply list-disc;
    @apply text-base-content;
    @apply ml-12;

    // apply a bottom margin if the next element is a heading
    &+h2 {
      @apply mt-6;
    }

    &+h3 {
      @apply mt-3;
    }

    &+h4,
    &+h5 {
      @apply mt-2;
    }
  }

  ol {
    @apply list-decimal;
    @apply text-base-content;
    @apply sm:text-xl/relaxed;
    @apply ml-12;

    // apply a bottom margin if the next element is a heading
    &+h2 {
      @apply mt-6;
    }

    &+h3 {
      @apply mt-3;
    }

    &+h4,
    &+h5 {
      @apply mt-2;
    }
  }

  // table formatting
  table {
    @apply w-full;
    @apply whitespace-nowrap;
    @apply divide-y divide-base-content;
    @apply my-4;
    @apply table-fixed;
  }

  th {
    @apply px-6 py-3 text-left text-xs font-medium uppercase tracking-wider;
    @apply overflow-auto;
  }

  td {
    @apply px-6 py-4 whitespace-nowrap;
    @apply overflow-auto;
  }

  tr {
    @apply bg-base-100;
  }

  tbody tr:nth-child(odd) {
    @apply bg-base-200;
  }

  .z-card-container {
    padding-top: 1rem;
  
    > div {
      margin-bottom: 2rem;
    }
  }
  
  
  .z-card {
    display: flex;
    flex-direction: column; 
    margin: 1rem 0; 
    padding: 20px;
    border-radius: 8px;
  
    @media (min-width: 768px) { 
      flex-direction: row; 
    }
  
    .w-full {
      border-radius: 8px;
    }
  
    .gap-24 {
      gap: 24px;
    }
  }
}

@layer components {
  .text-page-structure {
    @apply mx-auto;
    @apply max-w-screen-xl;
    @apply px-4;
    @apply py-16;
    @apply lg:flex;
    @apply flex;
    @apply flex-1;
    @apply flex-col;
    @apply items-center;
    @apply w-11/12;
  }
  .text-page-structure > h1 {
    @apply bg-gradient-to-br;
    @apply from-primary;
    @apply to-primary;
    @apply bg-clip-text;
    @apply text-4xl/[3rem];
    @apply font-extrabold;
    @apply text-transparent;
    @apply sm:text-5xl/[4rem];
    @apply text-center;
  }

  .subtitle-structure {
    @apply w-full;
    @apply md:w-5/6;
    @apply space-y-24; 
    @apply pb-8;
  }

  .subtitle-structure p {
    @apply text-center; 
    @apply mx-auto; 
    @apply mt-4; 
    @apply text-xl/relaxed;
  }

  .general-classes{
    @apply text-left;
    @apply pt-4;
    @apply pb-32;
    @apply md:py-16;
  }

  .name-classes{
    @apply bg-clip-text;
    @apply font-bold;
    @apply text-3xl/[3rem];
  }

  .description-classes{
    @apply mt-4;
    @apply pb-4;
    @apply text-xl/relaxed;
  }
}

@layer utilities {
  .sse-scrollbar {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: theme('colors.secondary');
      opacity: 0.6;
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: theme('colors.primary');
      opacity: 0.8;
    }
  }
}

::selection {
  background-color: theme('colors.primary');
  color: theme('colors.base-100');
}

:root {
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bold-pseudo::before {
  display: block;
  content: attr(data-label);
  content: attr(data-label) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 600;
}
