@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: theme('colors.emerald.400');
  color: theme('colors.slate.950');
}

:root {
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bold-pseudo::before {
  display: block;
  content: attr(data-label);
  content: attr(data-label) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 700;

  @media speech {
    display: none;
  }
}