#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    grid-template-rows: 1fr;
    grid-template-areas: "mentor-info gap mentor-canlendar";
    width: 100%;
    height: 100%;
  }

