.border {
  border: 1px solid black
}

#mentor-calendar > * {
  border: 1px solid black

}



main {
    display: block !important; 
}
#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    grid-template-areas: "mentor-info gap mentor-canlendar";
    width: 100%;
    height: 80vh;
    grid-row-end: -1;
  }

  path {
    stroke: black;
  }

  text.small-name {
    font-size: 14px;
    text-anchor: middle
  }

  path.kovu {
    fill: #EA4335;
  }

  path.greg {
    fill: #4285F4;
  }

  path.jon {
    fill: #8E7CC3;
  }

  path.cass {
    fill: #EA9999;
  }

  path.mackenzie {
    fill: #34A853;
  }

  path.aidan {
    fill: #9900ff;
  }

  path.issac {
    fill: #b7b7b7;
  }

  path.max {
    fill: #FBBC04;
  }

  path.aditya {
    fill: #00FFFF;
  }
  path.ryan {
    fill: #FFE599;
  }

  path.anthony {
    fill: #A4C2F4;
  }

  path.luke {
    fill: #FF00FF;
  }

  path.aneesh {
    fill: #FF6D01;
  }
  path.nick {
    fill: #93C47D;
  }

  path.joseph {
    fill: #C39E42;
  }

  path.sydney {
    fill: #7AF201;
  }

  path.hridiza {
    fill: #46BDC6;
  }

  text.mackenzie {
    font-size: 7px;
  }