name: Docker Image CI

on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      working-directory: ./next
      run: docker build . --file Dockerfile --build-arg COMMIT_HASH=$(git rev-parse --short HEAD) --tag sse-web:$(date +%s)
