name: Docker Image CI

on:
  push:
    branches: ["main", "development"]
  pull_request:
    branches: ["main", "development"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image (test only)
        working-directory: ./next
        run: |
          docker build \
            -t sse-web:test \
            -f Dockerfile .

  push-image:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Set tag based on branch
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            echo "IMAGE_TAG=prod" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=dev" >> $GITHUB_ENV
          fi

      - name: Build image
        working-directory: ./next
        run: |
          docker build \
            -t ghcr.io/${{ github.repository_owner }}/sse-web:${IMAGE_TAG} \
            -f Dockerfile .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/sse-web:${IMAGE_TAG}
